@import url("https://fonts.googleapis.com/css?family=Gabarito");
 body{
    margin: 0%;
    padding: 0%;
    background-color:rgb(16,14,46) ;
    font-family: "Gabarito";
} 

.body {
    margin-top: 10%;
    margin-bottom: 10%;
}
.theH {
    background-image: url("../ressources/image/pxfuel.jpg");
    background-size: 100%;
    
}
.filter{
    position: absolute;
    width: 100%;
    height: 7vh;
    background: #00000076;
}
span{
    color: rgba(245, 245, 245, 0.5);
    font-size: x-small;
}
.form{
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: center;
}
input {
    background-color: rgba(39, 38, 69, 0.5);
    border: 0px ;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
    height: fit-content;
    color: whitesmoke;
}
.nomarginb{
    margin-bottom: 0%;
}
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Gabarito";
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin-top: 8px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,.button-5:focus {
background-color: #fb8332;
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
transform: translateY(-1px);
}

.button-5:active {
background-color: #c85000;
box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
transform: translateY(0);
}