@import url("https://fonts.googleapis.com/css?family=Gabarito");


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gabarito';
}
.space {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list ul {
    display: flex;
    align-items: center;
}
.login {
    display: flex;
    align-items: center;
}
.title ul {
    display: flex;
    align-items: center;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
}
.headerGame {
    display: flex;
    width: 100%;
}
.theH, .theHs {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 8vw;
    padding-top: 3%;
}
.theH {
    background-image: url("../img/pxfuel.jpg");
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000076;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    margin-top: -3%;
}
.nav-login {
    display: flex;
    align-items: center;
}
.nav-login button {
    background-color: transparent;
    border: none;
}
.navbar {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.title {
    flex: calc(100% / 6);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.list-inactive {
    margin-right: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.list-inactive:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    color: aqua;
    cursor: pointer;
}


.list-active {
    margin-right: 20px;
    color: orange;
    border-top: solid 2px orange;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-element {
    list-style: none;
    display: inline-flex;
}