.div {
    padding: 10px;
}
#flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    color: rgb(16,14,46);
}
#flip-card-inner {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  #cardFront, #cardBack {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
