    .theH {
        background-image: url("../ressources/image/pxfuel.jpg") ;
    }
    .body {
        width: 100%;
        display: block;
        background-color: rgb(16,14,46);
        color: white;
        display: flex;
        justify-content: center;
    }
    .tab {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1000px;
    }
    .lookalike {
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .theH H1 {
        color: white;
    }
    .body th, td {
        text-align: center;
        border-bottom: solid 4px rgb(16,14,46);
        background-color: rgb(39, 38, 69);
    }
    .body th {
        font-weight: bold;
        text-decoration: underline;
    }
    .body tr:nth-of-type(even) td {
        background-color: rgb(32, 14, 46);
    }
    .body table {
        width: 50%;
        border-radius: 4px;
        border-collapse: collapse
    }
    .tab {
        width: 100%;
    }
