
.play img{
    width: 15.5vh;
    height: 15.5vh;
    border-collapse: collapse;
    border: 1px black;
}
.body {
    display: flex;
    justify-content: center;
    background: url(../assets/img/grass_texture.avif) center / 100% no-repeat;
}
.body_op{
    display: flex;
    justify-content: center;
    background: url(../assets/img/op_back.jpg) center / 100% no-repeat;
}
.body_HOW{
    display: flex;
    justify-content: center;
    background: url(../assets/img/halloween_back2.jpg) center / 100% no-repeat;
}
.douze img{
    width: 10vh;
    height: 10vh;
    border-collapse: collapse;
    border: 1px black;

}
